{% extends 'mainapp/base.html' %}
{% load static %}

{%block titulo %}
    Sucursales
{%endblock titulo %}


{%block estructura %}
<h1 style="text-align:center;"> {{titulo}}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
{% for c in sucursales  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.direccion }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.telefono }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{%endblock estructura %}
